body{background-color: rgb(159, 188, 242);

margin-top: 8px;}




.navbar-nav li button {
    
    margin: 0 0;
    padding: 0 0;
     font-weight: bold;
    font-size: 15px;
    border-radius: 16px;
    border: 0;
}
.navbar-nav li button:hover{
font-size: 18;
border: 3px solid rgb(43, 255, 0);
}

footer i:hover{
    background-color: white;
}

@media screen and (max-width:600px) {
    #content-1{
        display: block;
        flex-direction: column;
    }
    .content-2{
        display: block;
        flex-direction: column;
        padding-left: 200px;
    }
}


#summery{
    margin: 130px;
}

.navbar{
   
    margin-top: 25px;
    bottom: 20px;
}