

*{
padding: 0;
margin: 0;
}


    
   


.fa-instagram:hover{
   
   
    border-radius: 7px;
   background:linear-gradient(45deg,orange,rgb(255, 119, 0),rgb(234, 0, 255),rgb(114, 39, 220));
  
}
.fa-linkedin:hover {
   
    border-radius: 7px;
   background-color:  rgb(2, 99, 255);
   
}
.fa-github:hover{
    
    border-radius: 7px;
   background-color:  rgb(32, 52, 84);
}


